---
import Content from "../content/research-support/index.mdx";
import { components } from "../components/elements";
import SidebarList from "../components/sidebar-list";
import Card from "../components/card";
import Projects from "../layouts/complex.astro";
import { FcDatabase } from "react-icons/fc";
import { FcBiotech } from "react-icons/fc";
import { FcOnlineSupport } from "react-icons/fc";
---

<Projects title="Research Support" sidebar="left-prominent">

    <Content components={components}/>

    <div slot="left" class="flex flex-col gap-y-6">
        <Card
                icon={FcOnlineSupport}
                margin={false}
                title="We offer the following types of support for you:">
            <SidebarList
                    items={[
                        "General advice and experimental design consultancy",
                        "Programming and scripting assistance",
                        "Data Analysis",
                        "Data Management",
                        "Data Archiving",
                    ]}
            />
        </Card>
        <Card icon={FcDatabase}
              margin={false}
              title="We have experience working with various data types, including but not limited to:">
            <SidebarList
                    items={[
                        "High-throughput sequence data (DNA/RNA)",
                        "Proteomics data",
                        "Chip-seq data",
                        "Structural data",
                    ]}
            />
        </Card>
        <Card icon={FcBiotech}
              margin={false}
              title="We have expertise in a wide range of biological and medical fields, including:">
            <SidebarList
                    items={[
                        "High-throughput sequence data (DNA/RNA)",
                        "Proteomics data",
                        "Chip-seq data",
                        "Structural data",
                    ]}
            />
        </Card>
    </div>

</Projects>
