---
const { address, lat, lng } = Astro.props;
const center = { lat, lng };

const mapBaseUrl = "https://www.openstreetmap.org/export/embed.html";
const zoomLevel = 14; // Change this to control the zoom level (higher is more zoomed in)
const latOffset = 0.005 / zoomLevel; // Adjust these to fine-tune the zoom
const lngOffset = 0.005 / zoomLevel;
const src = `${mapBaseUrl}?bbox=${center.lng - lngOffset},${center.lat - latOffset},${center.lng + lngOffset},${center.lat + latOffset}&zoom=14&layer=mapnik&marker=${center.lat},${center.lng}`;
---

<div>
    <div class="flex justify-center items-center rounded-3xl overflow-clip border-none">
        <div class="w-full max-w-screen-lg h-96">
            <iframe
                    width="100%"
                    height="100%"
                    class="overflow-hidden border border-white rounded-3xl"
                    src={src}
                    title="Map"
                    loading="lazy">
            </iframe>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href={`https://www.google.com/maps/search/?api=1&query=${lat},${lng}`}
           class=" text-slate-600">
            {address}
        </a>
    </div>
</div>